@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: rgb(48, 48, 48);
    border-top: 5px solid #27a822;
    border-bottom: 5px solid #27A822;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.project-title {
    text-shadow: horizontal-offset vertical-offset blur color;

}

#horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
}

.photo-gallery, .photo-gallery li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

.photo-gallery li {
    overflow-x:auto;
    display: table-cell;
    height: 50%;
    width: 50%;
}

.photo-gallery li img {
    height: 50%;
    width: 100%;
}
