@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);


body {
    font-family: "Dosis";
    margin: auto;
    width: 80%;
}
nav ul, footer ul {
    font-family: "Dosis";
    font-size: 20px;
    line-height: 21px;
    color: rgb(48, 48, 48);
    text-align: center
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
embed {
	display: block;
    margin: 0 auto;
    text-align:center;
}
h1 {
    font-size: 3em;
    font-family: "Dosis";
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family: "Dosis";
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.project-title {
    text-shadow: horizontal-offset vertical-offset blur color;

}

#horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 3px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
}

#video_box {
    height: auto;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.photo-gallery, .photo-gallery li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-y: hidden;
}

.photo-gallery li {
    overflow-x:auto;
    display: inline-block;
    height: 350px;
}

.photo-gallery li img {
    opacity: 1;
    height: 350px;
    width: auto;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  opacity: 0%;
  width: 70%
}

.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {
    .content-desktop {display: none;}
    .content-mobile {display: flex;
                     position: relative;
                     width: 100%;
                     height: 100vh;
                     align-items: center;
                     justify-content: center;
                     overflow: hidden;}
}

#video_box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#myName {
  z-index: 4;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
}

.js-nametag{
    opacity: 0;
    animation: fade linear infinite 40s;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1rem;
    overflow: hidden;
}

.js-nametag:nth-child(1) {
    animation-delay: 0s;
}

.js-nametag:nth-child(2) {
    animation-delay: 5s;
}

.js-nametag:nth-child(3) {
    animation-delay: 10s;
}

.js-nametag:nth-child(4) {
    animation-delay: 15s;
}

.js-nametag:nth-child(5) {
    animation-delay: 20s;
}

.js-nametag:nth-child(6) {
    animation-delay: 25s;
}

.js-nametag:nth-child(7) {
    animation-delay: 30s;
}

.js-nametag:nth-child(8) {
  animation-delay: 35s;
}


@keyframes fade{
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        height: 0px;
    }
    3% { opacity: 1; height: 60px; }
    8% { opacity: 1; height: 60px; }
    12.5% { opacity: 1; height: 60px; }
	14% { opacity: 0; height: 60px; }
    100% {
      opacity: 0;
    }
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal, .pendulum_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content, .pendulum_modal_content {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  width: 100%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.bird_slides {
  display: none;
}
.pendulum_slides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container, .pendulum_caption_container, #caption, #pendulum_caption {
  text-align: center;
  padding: 2px 16px;
  color: white;
  z-index: 2;
}

img.thumb, img.pendulum_thumb {
  max-width: 100%;
  height: auto;
  opacity: 0.6;
}

.active,
.thumb:hover,
.thumb2:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  max-width: 100%;
  height: auto;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.inner_image {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:86vh;
  width:auto;
}

@media screen and (max-width: 768px) {
    img.inner_image {
        display:block;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        width:100%;
    }
}

.responsive-embed {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
}

.research {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.title{ z-index: 100;
  position: absolute;
  color: black;
  font-size: 12px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}*/
