<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor's of Science - Computer Science</h1>
            <span>Tufts University</span>
            <span><address>Medford / Somerville, MA</address><time>2013 to 2017</time></span>
            <p><span>Aquincum Institute of Technology</span>
            <span><address>Budapest, Hungary</address><time>Fall 2016</time></span></p>
            <span><p>Dean's List: Spring 2016, Fall 2015</p></span>
            <h1>Relevant Coursework</h1>
            <span>User Interface Design, Machine Learning, Algorithms and Data Structures, Computational Theory, Web Programming, Computational Biology, Linear Algebra, Multivariable Calculus, Discrete Math
        </header>
        	
    </article>
</section>
