<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor's of Science - Computer Science</h1>
            <span>Tufts University</span>
            <span><address>Medford / Somerville, MA</address><time>2013 to 2017</time></span>
            <span><p>Dean's List: <time>Spring 2016, Fall 2015</time></p></span>
        </header>
        <footer>
        	<span>Relevant Coursework</span>
            <span>User Interface Design, Machine Learning, Algorithms and Data Structures, Computational Theory, Web Programming, Computational Biology</span>
        </footer>
    </article>
</section>
