<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>University of Colorado-Boulder, CO</address><time>Summer 2015</time></span>
        </header>
        <p>Antibiotic resistant bacteria is everywhere, but nobody knows about it! As a research assistant for the evolutionary biology department of CU-Boulder, I created a project to find and track the locations of antibiotic resistant bacteria in the local watershed, which can be seen <a href="https://owingit.github.io/abiotics/index.html">here</a>. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Tufts University, Medford, MA</address><time>January 2015 to present</time></span>
        </header>
        <p>Computer Science 0015, or Data Structures, is one of the core classes of the computer science major at Tufts. As a teaching assistant for this class, I teach an instructional lab, hold office hours to help students with homework projects, and grade assignments.</p>
    </article>
    <article>
        <header>
            <h1>User Experience Consultant</h1>
            <span><address>ActionEmploiRefugies, France</address><time>Summer 2016</time></span>
        </header>
        <p>I traveled to Lesvos, Greece to perform user experience research on the refugee population and how they use technology, namely smartphones. With this research, I co-authored a paper on technology's influential role in the refugee crisis and subsequently went on to do some volunteer user experience analysis for this newly built online job portal for refugees!</p>
    </article>
    <article>
        <header>
            <h1>Field Technician</h1>
            <span><address>Leadville, CO and Salida, CO</address><time>Summer 2015, Summer 2016</time></span>
        </header>
        <p> Ever curious how native, endangered trout species survive the trials of competition and overfishing? Look no further! For two summers, I was a part of a team that worked at trout hatcheries across Colorado to tag fish for tracking in the wild, spawn fish to help bring about higher population numbers, and measure/weight fish to ensure appropriate healthiness.</p>
    </article>
</section>
