<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>University of Colorado-Boulder, CO</address><time>Summer 2015</time></span>
        </header>
        <p>Antibiotic resistant bacteria is everywhere, but nobody knows about it! As a research assistant for the evolutionary biology department of CU-Boulder, I created a project to find and track the locations of antibiotic resistant bacteria in the local watershed, which can be seen <p href="https://www.owingit.github.io/abiotics/index.html">here</p>. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Tufts University, Medford, MA</address><time>January 2015 to present</time></span>
        </header>
        <p>Computer Science 0015, or Data Structures, is one of the core classes of the computer science major at Tufts. As a teaching assistant for this class, I teach an instructional lab, hold office hours to help students with homework projects, and grade assignments.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
