<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
	<header>
            <h1>QA Engineer</h1>
	    <span><address>Hitachi Vantara, Waltham, MA</address><time>August 2017 - present</time></span>
	</header>
	<p><li>Worked closely with developers to design scalable HA elastic edge file system enterprise solutions  </li>
	<li>Developed comprehensive manual and automated test plans and applied them to product to ensure maximum quality</li>
	<li>Boosted quality team productivity by enhancing several in-house web applications </li>
	</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Tufts University, Medford, MA</address><time>January 2015 to January 2017</time></span>
        </header>
	<p><li>Taught an instructional lab diving into fundamental CS data structures concepts and applications</li>
	<li>Held ten office hours / week to help students with their homework and augment lecture with one-on-one tutoring</li>
	<li>Graded homework assignments and hosted collaborative grading groups with other TAs to improve grade transparency and accountability</li>
	</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>University of Colorado-Boulder, CO</address><time>Summer 2015</time></span>
        </header>
	<p><li>Collected water from various ex-situ locations in Boulder County and tested my findings for antibiotic resistant bacteria via Petri dish plating and culturing</li>
	<li>Built <a href="https://owingit.github.io/abiotics/index.html">this website</a> to track my findings on an interactive map</li>
	<li>Created reproducible steps for citizen science</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Field Technician</h1>
            <span><address>Leadville, CO and Salida, CO</address><time>Summer 2015, Summer 2016</time></span>
        </header>
	<p><li>Photographed and tagged ~2000 endangered greenback cutthroat trout fry as part of a multi-year conservation project through the Colorado Parks and Wildlife department</li>
	</p>
    </article>
</section>
