<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
       <header>
            <h1>Leader, Tufts Wilderness Orientation</h1>
            <span><address>Tufts University</address><time>August 2015 and August 2016</time></span>
       </header>
        <p>Tufts runs a pre-orientation program where a pair of leaders, selected competitively from a pool of juniors and seniors, leads eight incoming first-year students on a five day long backpacking trip in the northern New England wilderness. I was lucky enough to be one of these leaders for two years!</p>
    </article>
     <article>
        <header>
            <h1>Co-Investigator and User Experience Consultant</h1>
            <span><address>Techfugees</address><time>Summer 2016</time></span>
        </header>
        <p>I traveled to Lesvos, Greece to perform user experience research on the refugee population and how they use technology, namely smartphones. With this research, I co-authored a paper on technology's influential role in the refugee crisis and subsequently went on to do some volunteer user experience analysis for <a href = "http://www.actionemploirefugies.com">this newly built online job portal for refugees!</a></p>
    </article>
    <article>
        <header>
            <h1>Participant, International Development Hackathon (IDHack) </h1>
            <span><address>Tufts University</address><time>February 2016</time></span>
        </header>
            <p>Worked on an app to provide refugees access to information regarding food/water/shelter sources on the island of Lesvos, Greece. This led into the user experience research project mentioned in employment.</p>
    </article>
</section>
