<header>
  <h2 class = "project-title"> neural bird transfer </h2>
  	<article>
		these are a collection of paintings permuted with the womboAI and huggingface neural style transfer playgrounds to make wildly abstract and sometimes fascinating alternative bird paintings
	</article>
</header>

<div class="row">
  <div class="column">
    <img src="../images/nst/vibrant_puffin.png" onclick="openNSTModal();currentSlideNST(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/nst/stellar_stellars.png" onclick="openNSTModal();currentSlideNST(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/nst/psych_bee_eater.png" onclick="openNSTModal();currentSlideNST(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/nst/colorful_owl.png" onclick="openNSTModal();currentSlideNST(4)" class="hover-shadow">
  </div>
</div>

<div id="nst_modal_id" class="nst_modal">
  <span class="close cursor" onclick="closeNSTModal()">&times;</span>
  <div class="nst_modal_content">
    <div class="nst_slides">
      <div class="numbertext">1 / 4</div>
      <img src="../images/nst/vibrant_puffin.png" class="inner_image">
    </div>

    <div class="nst_slides">
      <div class="numbertext">2 / 4</div>
      <img src="../images/nst/stellar_stellars.png" class="inner_image">
    </div>

    <div class="nst_slides">
      <div class="numbertext">3 / 4</div>
      <img src="../images/nst/psych_bee_eater.png" class="inner_image">
    </div>

    <div class="nst_slides">
      <div class="numbertext">4 / 4</div>
      <img src="../images/nst/colorful_owl.png" class="inner_image">
    </div>
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusNSTSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusNSTSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="nst_caption_container">
      <p id="nst_caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="row">
      <div class="column">
        <img class="nst_thumb" src="../images/nst/vibrant_puffin.png" onclick="currentSlideNST(1)" alt="vibrant_puffin">
      </div>

      <div class="column">
        <img class="nst_thumb" src="../images/nst/stellar_stellars.png" onclick="currentSlideNST(2)" alt="stellar_stellars">
      </div>

      <div class="column">
        <img class="nst_thumb" src="../images/nst/psych_bee_eater.png" onclick="currentSlideNST(3)" alt="psych_bee_eater">
      </div>

      <div class="column">
        <img class="nst_thumb" src="../images/nst/colorful_owl.png" onclick="currentSlideNST(4)" alt="colorful_owl">
      </div>
    </div>
  </div>
</div>

<script>
    // Open the Modal

    function openNSTModal() {
      document.getElementById("nst_modal_id").style.display = "block";
    }

    // Close the Modal
    function closeNSTModal() {
      document.getElementById("nst_modal_id").style.display = "none";
    }

    var nstSlideIndex = 1;
    showNSTSlides(nstSlideIndex);

    // Next/previous controls
    function plusNSTSlides(n) {
      showNSTSlides(nstSlideIndex += n);
    }

    // Thumbnail image controls
    function currentSlideNST(n) {
      showNSTSlides(nstSlideIndex = n);
    }
    function showNSTSlides(n) {
      var i;
      var slides = document.getElementsByClassName("nst_slides");
      var dots = document.getElementsByClassName("nst_thumb");
      var captionText = document.getElementById("nst_caption");
      if (n > slides.length) {nstSlideIndex = 1}
      if (n < 1) {nstSlideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[nstSlideIndex-1].style.display = "block";
      dots[nstSlideIndex-1].className += " active";
      captionText.innerHTML = dots[nstSlideIndex-1].alt;
    }
</script>
