<section class="thirteen columns">
    <h1>Objectives</h1>
    <article>
        <header>
           I want to walk on the tightrope line between artistic exploration and software innovation. To me, this means designing elegant, ergonomic, and algorithmically efficient solutions to real world problems. As an employee, I seek to leverage my understanding of computational theory and coding skills with my fascination for beauty and connection to <i>create</i> new things.
        </header>
        	
    </article>
</section>
