<header>
  <h1> Photography </h1>
</header>

<header>
  <h4 class = "project-title"> looking for the absence of people</h4>	
  	<h6>
		as I wander the world I often find myself occupying the places where people had <i>just been</i>, sensing the residue left by their presence and reveling in their absence. so many societal structures are in place because there is a sustained human presence that employs their use. what happens when those people go away? what happens when the absence is all that's left? these photos explore looking at popular places through the lenses of solitude, isolation, and new location. ft. lucciola
	</h6>
</header>


{% assign sorted_photos = site.photo_gallery | sort: "weight" %}
<ul class="photo-gallery" id="horizontal">
  {% for image in sorted_photos %}
    <li><img src="{{ image.image_path }}" alt="{{ image.title}}" height=350px; width=auto;/></li>
    <span class="poem">{{image.title}}</span>

  {% endfor %}
</ul>


