<header>
  <h1 style="text-align: center">om - painting </h1>
</header>

<header>
  <h4 class = "project-title"> a study of birds</h4>
  	<h6>
        i paint birds whenever i get the chance. i am fascinated by the intelligence, natural beauty, and ecological savvy of the world's birds and i frequently wander the countryside, armed with binoculars and my ears, looking for feathered friends.
	</h6>
</header>

<div class="row">
  <div class="column">
    <img src="../images/american_kestrel-min.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/belted_kingfisher-min.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/gila_woodpecker-min.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/violet_bellied_hummingbird-min.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../images/burrowing_owl-min.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/rainbow_bee_eater-min.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/horned_puffin-min.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/lazuli_bunting-min.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../images/northern_harrier-min.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/great_blue_heron-min.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/stellars_jay-min.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/american_oystercatcher-min.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../images/barn_swallow-min.jpg" onclick="openModal();currentSlide(13)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/north_island_saddleback.png" onclick="openModal();currentSlide(14)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/spotted_towhee-min.jpg" onclick="openModal();currentSlide(15)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/northern_flicker.png" onclick="openModal();currentSlide(16)" class="hover-shadow">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../images/red_winged_blackbird-min.jpg" onclick="openModal();currentSlide(17)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/american_avocet-min.jpg" onclick="openModal();currentSlide(18)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/yellow_eyed_penguin-min.jpg" onclick="openModal();currentSlide(19)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="../images/keabirb-min.jpg" onclick="openModal();currentSlide(20)" class="hover-shadow">
  </div>
</div>

<div id="bird_modal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="bird_slides">
      <div class="numbertext">1 / 20</div>
      <img src="../images/american_kestrel-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">2 / 20</div>
      <img src="../images/belted_kingfisher-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">3 / 20</div>
      <img src="../images/gila_woodpecker-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">4 / 20</div>
      <img src="../images/violet_bellied_hummingbird-min.jpg" class="inner_image">
    </div>
      <div class="bird_slides">
      <div class="numbertext">5 / 20</div>
      <img src="../images/burrowing_owl-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">6 / 20</div>
      <img src="../images/rainbow_bee_eater-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">7 / 20</div>
      <img src="../images/horned_puffin-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">8 / 20</div>
      <img src="../images/lazuli_bunting-min.jpg" class="inner_image">
    </div>
      <div class="bird_slides">
      <div class="numbertext">9 / 20</div>
      <img src="../images/northern_harrier-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">10 / 20</div>
      <img src="../images/great_blue_heron-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">11 / 20</div>
      <img src="../images/stellars_jay-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">12 / 20</div>
      <img src="../images/american_oystercatcher-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">13 / 20</div>
      <img src="../images/barn_swallow-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">14 / 20</div>
      <img src="../images/north_island_saddleback.png" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">15 / 20</div>
      <img src="../images/spotted_towhee-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">16 / 20</div>
      <img src="../images/northern_flicker.png" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">17 / 20</div>
      <img src="../images/red_winged_blackbird-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">18 / 20</div>
      <img src="../images/american_avocet-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">19 / 20</div>
      <img src="../images/yellow_eyed_penguin-min.jpg" class="inner_image">
    </div>

    <div class="bird_slides">
      <div class="numbertext">20 / 20</div>
      <img src="../images/keabirb-min.jpg" class="inner_image">
    </div>



    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="row">
      <div class="column">
        <img class="thumb" src="../images/american_kestrel-min.jpg" onclick="currentSlide(1)" alt="Falco sparverius">
      </div>

      <div class="column">
        <img class="thumb" src="../images/belted_kingfisher-min.jpg" onclick="currentSlide(2)" alt="Megaceryle alcyon">
      </div>

      <div class="column">
        <img class="thumb" src="../images/gila_woodpecker-min.jpg" onclick="currentSlide(3)" alt="Melanerpes uropygialis">
      </div>

      <div class="column">
        <img class="thumb" src="../images/violet_bellied_hummingbird-min.jpg" onclick="currentSlide(4)" alt="Damophila julie">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img class="thumb" src="../images/burrowing_owl-min.jpg" onclick="currentSlide(5)" alt="Athene cunicularia">
      </div>

      <div class="column">
        <img class="thumb" src="../images/rainbow_bee_eater-min.jpg" onclick="currentSlide(6)" alt="Merops ornatus">
      </div>

      <div class="column">
        <img class="thumb" src="../images/horned_puffin-min.jpg" onclick="currentSlide(7)" alt="Fratercula corniculata">
      </div>

      <div class="column">
        <img class="thumb" src="../images/lazuli_bunting-min.jpg" onclick="currentSlide(8)" alt="Passerina amoena">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img class="thumb" src="../images/northern_harrier-min.jpg" onclick="currentSlide(9)" alt="Circus hudsonius">
      </div>

      <div class="column">
        <img class="thumb" src="../images/great_blue_heron-min.jpg" onclick="currentSlide(10)" alt="Ardea herodias">
      </div>

      <div class="column">
        <img class="thumb" src="../images/stellars_jay-min.jpg" onclick="currentSlide(11)" alt=" Cyanocitta stelleri">
      </div>

      <div class="column">
        <img class="thumb" src="../images/american_oystercatcher-min.jpg" onclick="currentSlide(12)" alt="Haematopus palliatus">
      </div>
    </div>
    <div class="row">

      <div class="column">
        <img class="thumb" src="../images/barn_swallow-min.jpg" onclick="currentSlide(13)" alt="Hirundo rustica">
      </div>

      <div class="column">
        <img class="thumb" src="../images/north_island_saddleback.png" onclick="currentSlide(14)" alt="Philesturnus rufusater">
      </div>

      <div class="column">
        <img class="thumb" src="../images/spotted_towhee-min.jpg" onclick="currentSlide(15)" alt="Pipilo maculatus">
      </div>

      <div class="column">
        <img class="thumb" src="../images/northern_flicker.png" onclick="currentSlide(16)" alt="Colaptes auratus">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img class="thumb" src="../images/red_winged_blackbird-min.jpg" onclick="currentSlide(17)" alt="Agelaius phoeniceus">
      </div>

      <div class="column">
        <img class="thumb" src="../images/american_avocet-min.jpg" onclick="currentSlide(18)" alt="Recurvirostra americana">
      </div>

      <div class="column">
        <img class="thumb" src="../images/yellow_eyed_penguin-min.jpg" onclick="currentSlide(19)" alt="Megadyptes antipodes">
      </div>

      <div class="column">
        <img class="thumb" src="../images/keabirb-min.jpg" onclick="currentSlide(20)" alt="Nestor notabilis">
      </div>
    </div>
  </div>
</div>

<script>
    // Open the Modal
    function openModal() {
      document.getElementById("bird_modal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
      document.getElementById("bird_modal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("bird_slides");
      var dots = document.getElementsByClassName("thumb");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
