<header>
  <h1> Photography </h1>
</header>

<header>
  <h4 class = "project-title"> looking for the absence of people</h4>	
  	<h6>
		as I wander the world I often find myself occupying the places where people had <i>just been</i>, sensing the residue left by their presence and reveling in their absence. 
	</h6>
</header>


{% assign sorted_gallery = site.photo_gallery | sort: 'weight' %}
<ul class="photo-gallery">
  {% for image in sorted_gallery %}
    <ul>
      <a href="{{ image.link }}">
        <img src="{{ image.image_path }}" alt="{{ image.title }}" style ="width: 50%; height: 50%;">
      </a>
    </ul>
  {% endfor %}
</ul>


