<header>
    <h1 style="text-align: center">om - research </h1>
</header>

<h4 class = "project-title">active research: modelling fireflies as swarming oscillators (or swarmalators, see <a href="https://www.nature.com/articles/s41467-017-01190-3">this work</a>for background</h4><br>
<h4 class = "project-title">active research: collective information sharing in honeybees and its impact on swarm memory</h4><br>
<article>
    <h2>source code can be found <a href="https://github.com/owingit/b-e-e-s">here</a></h2>
 </article>
<h4 class = "project-title">past research: modelling human movement pattern response to covid-19</h4>
<article>
	<header>
		<embed src="/cv/static/img/net_COVID_abstract copy.pdf" width="100%" height="800px" />
    </header>
    <h2>source code can be found <a href="https://github.com/owingit/agent-based-model-of-covid-19">here</a></h2>
 </article>


