<header>
    <h1 style="text-align: center">om - research </h1>
</header>

<h2 class = "project-title">background and research interests: </h2>
<div>
    i am a computer science ph.d student at the university of colorado boulder, 2020 cohort, and member of the <a href="peleglab.com">peleg lab.</a> i have a spanning interest in complex systems - especially swarm systems - and collective intelligence. some of my research goals are to understand how living complex systems make decisions and to classify and recognize intelligence at <a href="https://www.quantamagazine.org/what-is-an-individual-biology-seeks-clues-in-information-theory-20200716/">different scales of individuals</a>. my main methods are agent-based modeling, numerical analysis, machine learning, and network science.
</div>

<h2 class = "project-title">active research: </h2>
<div>
    <h3>modeling fireflies as swarming oscillators (or swarmalators - see <a href="https://www.nature.com/articles/s41467-017-01190-3">this work</a> for background)</h3>
    <h3>collective information sharing in honeybee colonies and its impact on swarm memory</h3>
    <article>
        <h5>source code can be found <a href="https://github.com/owingit/b-e-e-s">here</a></h5>
    </article><br>
</div>
<h2 class = "project-title">past research:</h2> 
<div>
    <h3>modeling human movement pattern response to covid-19. abstract below.</h3>
    <article>
        <header>
            <embed src="/cv/static/img/net_COVID_abstract copy.pdf" width="100%" height="600px" />
        </header>
        <h5>source code can be found <a href="https://github.com/owingit/agent-based-model-of-covid-19">here</a></h5>
    </article>
</div>
