<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
	    &nbsp;&nbsp;<em>C</em>, <em>C++</em>, <em>R</em>, <em>Processing</em>, &amp; <em> Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
	    &nbsp;&nbsp;<em>PHP</em>, <em>SQL</em>, <em>LaTeX</em>, &amp; <em>HTML/CSS3</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Git</em> &amp; <em>Javascript</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Science & Analysis packages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
	    &nbsp;&nbsp;<em>dplyr</em>, <em>tidyverse</em>, <em>numpy</em>, <em>sci-kit-learn</em>, <em>pandas</em>  &amp; <em>networkx</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>ggplot2, Tensorflow</em>
        </p>
    </article>
</section>
