<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script type="text/javascript" src="/js/hover.js"></script>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.8/processing.min.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		</head>
		<body>
			<nav id="myNav">
	    		<ul id="myNavUL">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/art">Art</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Writing</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
	        	<footer>
	    		        <ul>
	        		        <li><a href="https://github.com/owingit" target="_blank">github</a></li>
				        	<li><a href="https://linkedin.com/in/owen-martin-6009a283/" target="_blank">linkedIn</a>
                            <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank">twitter</a>
							<li><a href="https://instagram.com/{{ site.instagram }}" target="_blank">instagram</a>
		                </ul>
			</footer>
			<script>
					window.onscroll = function() {myFunction()};

					var nav = document.getElementById("myNav")
					var navul = document.getElementById("myNavUL");
					var sticky = nav.offsetTop;

					function myFunction() {
					  if (window.pageYOffset > sticky) {
						nav.classList.add("sticky");
						navul.classList.add("sticky");
					  } else {
					  	nav.classList.remove("sticky");
					  	navul.classList.remove("sticky");
					  }
					}
			</script>
		</body>
	</html>
