<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script type="text/javascript" src="/js/hover.js"></script>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.8/processing.min.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		</head>
		<body>
			<nav id="myNav">
	    		<ul id="myNav">
					<li><a href="/">home</a></li>
					<li><a href="/research">research</a></li>
		        	<li><a href="/art">art</a></li>
	        		<li><a href="/cv/static/img/Owen_Martin_cv.pdf">cv</a></li>
	        		<li><a href="/writing">writing</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
	        	<footer>
	    		        <ul id="myFooter">
							<li id="1"><a href="/">home</a></li>
							<li id="2"><a href="/research">research</a></li>
							<li id="3"><a href="/art">art</a></li>
							<li id="4"><a href="/cv/static/img/Owen_Martin_cv.pdf">cv</a></li>
							<li id="5"><a href="/writing">writing</a></li>
	        		        <li><a href="https://github.com/owingit" target="_blank"><img height="13" width="13" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
</a></li>
				        	<li><a href="https://linkedin.com/in/owen-martin-6009a283/" target="_blank"><img height="13" width="13" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" />
</a>
                            <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><img height="13" width="13" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" />
</a>
							<li><a href="https://instagram.com/{{ site.instagram }}" target="_blank"><img height="13" width="13" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" />
</a>
		                </ul>
				</footer>
			<script>
					window.onscroll = function() {setSticky()};

					var nav = document.getElementById("myNav")
					var sticky = nav.offsetTop;

					function setSticky() {
					  if (window.pageYOffset > sticky) {
						nav.classList.add("sticky");
						for (i = 1; i <= 5; i++) {
					      var li = document.getElementById("" + i);
					      li.style.display = "inline";
					    }
					  } else {
					  	nav.classList.remove("sticky");
					  	for (i = 1; i <= 5; i++) {
					      var li = document.getElementById("" + i);
					      li.style.display = "none";
					    }
					  }
					}

					window.onload = function() {hideBar()};
					function hideBar() {
					  if (!nav.classList.contains("sticky")) {
					    for (i = 1; i <= 5; i++) {
					      var li = document.getElementById("" + i);
					      li.style.display = "none";
					    }
					  }
					}
			</script>
		</body>
	</html>
